<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!recipeForm.valid && recipeForm.touched"
          >
            Save
          </button>
          &nbsp;
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="title">Recipe Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input
              type="text"
              id="imageUrl"
              formControlName="imageUrl"
              class="form-control"
              #imageUrl
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <img
            [src]="imageUrl.value"
            alt=""
            class="img-fluid"
            style="max-height: 300px"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12" formArrayName="recipeIngredients">
          <div
            class="row"
            *ngFor="
              let ingredientCtrl of ingredientsArray.controls;
              let i = index
            "
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" formControlName="unit" />
            </div>
            <div class="col-sm-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="recipeSteps">
          <div
            class="row"
            *ngFor="let stepCtrl of stepsArray.controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-sm-2">
              <input
                type="number"
                class="form-control"
                formControlName="count"
              />
            </div>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="description"
              />
            </div>
            <div class="col-sm-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteStep(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddStep()"
              >
                Add Step
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
